<section class="hero">

    <video width="100%" height="100%" loop muted autoplay preload="auto">
        <source src="../../assets/video/video.mp4" type="video/mp4">
    </video>

</section>



<section class="about">
    <h1>
        סוויטות החופש "מיקאסה" מזמין אתכם לחופשה המשלבת חיבור לטבע יחד עם פינוק ונוחות. במתחם 14 בקתות אדמה
        המחולקות ל-3 סוגים ומתאימות לזוגות ומשפחות. כל אחת מהן פוסלה במלאכת יד מחומרים טבעיים בלבד - בוץ וקש.
        לפי שיטות בניה עתיקות יומין שכבה אחר שכבה בעמל ויזע. הבקתות בימי מדבר מקיימות דרך חיים, כמיהה להתמזגות
        עם הטבע. מעוצבות ומאובזרות בקפידה, מכבדות את האדם והאדמה
    </h1>
</section>



<section class="breakfast">
    <mat-grid-list cols="2" rowHeight="600px">
        <mat-grid-tile>
            <img src="../../../../assets/images/breakfast/breakfast-1.jpg" alt="Breakfast Image" width="480xp">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>ארוחות הבוקר שלנו</mat-card-header>
                <mat-card-content>
                    <p>בימי מדבר מאפשרים לכם לבחור או לשלב. לבשל לעצמכם על אש חייה, במטבח חוץ מאובזר מול נוף מדברי. או
                        להתפנק עם ארוחות
                        הבוקר והערב שלנו, המוגשות אליכם עד פתח הדלת ארוזות באהבה ונעשות בקפידה, תוך שימוש בחומרי גלם
                        איכותיים.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button routerLink="/breakfast" >ספרו לי עוד</a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>


<section class="activities">

    <mat-grid-list cols="2" rowHeight="600px">

        <mat-grid-tile>
            <mat-card>
                <mat-card-header>פעילויות</mat-card-header>
                <mat-card-content>
                    <p>טבע פראי במרחק הליכה מפתח הבקתה מחכה למי שירצה לטעום מנופיי הערבה הפתוחים, ומסלולי טיולים מאתגרים
                        בנופים קיצוניים לאלו שירצו לתת לרגליהם דרור. שמים זרועי כוכבים יחד עם שלל פעילות בישוב צוקים
                        הסמוך ובישובי הערבה יהפכו את החופשה שלכם לקצרה מדי.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button routerLink="/activities" >ספרו לי עוד</a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../../assets/images/activities/activities-1.jpg" alt="Breakfast Image" width="480xp">
        </mat-grid-tile>
    </mat-grid-list>
</section>

<section class="events">


    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile alt="Events Image">


            <mat-card>
                <mat-card-header>אירועים בגולן</mat-card-header>
                <mat-card-content>
                    <p>
                        אירועים בימי מדבר בחוויה אותנטית קסומה. חוגגים אירוע מסוים? רוצים לחוות משהו שלא הכרתם? נעים
                        להכיר,
                        אנחנו ימי מדבר ואנחנו נעניק חוויה מדברית מושלמת לאירועים מכל סוג.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button routerLink="/events" >לחצו לפרטים</a>
                </mat-card-actions>
            </mat-card>


        </mat-grid-tile>

    </mat-grid-list>

</section>