* {
  box-sizing: border-box;
}

.mat-sidenav-container {
  height: 100%;
}


.mat-toolbar-row {
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: center;
  height: 90px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  gap: 25px;
  border-bottom: 1px solid white !important;
}

.hidden {
  display: none !important;
}


.mat-form-field {
  margin: 0 !important;
}

a {
  color: white !important;
  font-size: 30px;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
    text-decoration-color: rgb(193, 193, 193);
  }
}


/* Font size and color for text within menu items */
button.mat-menu-item {
  font-size: 14px;
  color: white !important;
  /* Dark grey color for menu item text */
}

/* Style for icons within the toolbar */
mat-icon {
  font-size: 24px;
  /* Larger icons */
  color: white;
  /* Matching icon color with toolbar text */
}