<mat-grid-list cols="3" rowHeight="180px">
    <mat-grid-tile>

        <mat-icon>facebook</mat-icon>
        <mat-icon>facebook</mat-icon>
    </mat-grid-tile>

    <mat-grid-tile>
        <img src="../../../../assets/images/logo/mikasa.png" alt="Logo">
    </mat-grid-tile>


    <mat-grid-tile>
        <ul>
            <li>0545869818</li>
            <li>mikasagmail.com</li>
            <li>ישוב קהילתי שעל</li>
            <li>מדיניות ביטול עסקה</li>
        </ul>
    </mat-grid-tile>

</mat-grid-list>


<mat-toolbar>
    <span>Website by Ron Bachar</span>
    <mat-icon>
        settings_accessibility
    </mat-icon>
</mat-toolbar>