<section id="home">

    
    <video width="100%" loop muted autoplay preload="auto">
        <source src="../../assets/video/video.mp4" type="video/mp4">
        Your Browser does not support the video
    </video>
    
    <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rem earum nisi mollitia voluptatibus error
        voluptatum facilis incidunt architecto ut maiores dolorum voluptates ea cum consectetur beatae dolore, aspernatur
        fugit repellat nesciunt alias quasi commodi vitae! Inventore hic perferendis aliquid impedit beatae ex cupiditate!
        Voluptate quisquam voluptatum quas veritatis officia?
    </section>
    
    
</section>