<video width="100%" loop muted autoplay preload="auto">
    <source src="../../assets/video/video.mp4" type="video/mp4">
    Your Browser does not support the video
</video>

<section>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias inventore iure ullam maxime
        natus doloremque. Beatae aperiam cupiditate, minima natus laboriosam ex numquam alias deleniti explicabo eum
        consequuntur expedita, dolores facere, et laborum quibusdam aliquam rem repellat repellendus! Quam voluptates
        velit fugiat natus a aut inventore quia vel illum ullam, maxime nulla excepturi eum voluptas aspernatur tenetur,
        saepe reiciendis? Reprehenderit incidunt illo minus voluptate esse omnis tempore commodi id?
    </h1>
</section>


<app-carousel></app-carousel>



<!-- Breakfast section -->
<section >
    <div class="image-container">
        <img src="path/to/breakfast-image.jpg" alt="Breakfast">
    </div>
    <div class="content-box">
        <h2>Breakfast</h2>
        <p>Add your breakfast details here...</p>
    </div>
</section>





<!-- Activities section -->
<section >
    <div class="content-box">
        <h2>Activities</h2>
        <p>Add your activities details here...</p>
    </div>
    <div class="image-container">
        <img src="path/to/activities-image.jpg" alt="Activities">
    </div>
</section>